@model Vidly.Models.Customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Id == 0)
{
    <h2>User do not exist.</h2>
}
else
{
    <h2>@Model.Name</h2>
}


